@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist;
<h4>Add a new Stylist</h4>
@using (Html.BeginForm()) 
{
    @Html.LabelFor(model => model.StylistName)
    @Html.TextBoxFor(model => model.StylistName)

    @Html.LabelFor(model => model.StylistPhoneNum)
    @Html.TextBoxFor(model => model.StylistPhoneNum)

    @Html.LabelFor(model => model.Experince)
    @Html.TextBoxFor(model => model.Experince)
    <br>
    <input type="submit" value="Add Stylist" />
}

<p>@Html.ActionLink("Back to Stylists", "Index")</p>

