@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model List<HairSalon.Models.Appointment>;

<h4>Appointment</h4>

@if (@Model.Count == 0)
{
  <h3>No appointment have been added yet!</h3>
}

@foreach(Appointment appointment in Model)
{
  <li>@Html.Label("Thank you for choosing us")| @Html.ActionLink($"{appointment.Client.ClientName}", "Details",new { id = appointment.AppointmentId })</li>
}


@* @foreach(Appointment appointment in Model)
{
  <li>@Html.Label("Thank you for choosing us")| @Html.ActionLink($"{appointment.Client.ClientName}", "Details",new { id = appointment.AppointmentId })</li>
} *@

@* <p>@Html.ActionLink("Add New Stylist", "Create")<h4> @Html.ActionLink("Search Stylist by Name", "Search")</h4> </p> *@
<p>@Html.ActionLink("Home", "Index", "Home")</p>