@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client;
<h4>Add a new Client</h4>
@using (Html.BeginForm()) 
{
    @Html.LabelFor(model => model.ClientName)
    @Html.TextBoxFor(model => model.ClientName)
    <br>
    @Html.LabelFor(model => model.ClientPhoneNum)
    @Html.TextBoxFor(model => model.ClientPhoneNum)
    <br>
    @Html.LabelFor(model => model.Stylist)
    @Html.DropDownList("StylistId")

    <br>
    <input type="submit" value="Add  new client"/>
}



